body{
    width: 100%;
   
}
#pesquisa{
    height: 200px;
    display: flex;
}
#banner{
    display: flex;

}
.destaqueaux{
    display: grid;
    
}
#categorias {
    display: flex;
}
    #categorias div {
        display: grid;
        justify-items: center;
        padding-left: 20px;
    }